# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd
*.db

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
.env
admin.json
auth.json
backup.json
ct.json
data.json
loja.json
messages.json
sessions.json

# Virtualenv
venv/
ENV/
env/